.menuItemTitle {
    margin: 0;
    padding-top: 40px;
    font-size: 1.5em;
    color: rgb(2, 83, 145);
}

.categoryCard {
    background-color: rgb(253, 253, 253);
    margin: 2em auto;
    border: 2px none rgb(121, 121, 121);
    border-radius: 5%;
    padding: 15px;
    box-shadow:  12px 12px 6px -6px rgba(114, 113, 113, 0.2);
    max-width: 300px;
}

.categoryLink{
    text-decoration: none;
    color: black;
}

.categoryLink :active{
    box-shadow: none;
}

.categoryCardTitle {
    font-size: 1.25em;
    margin-bottom: 0;
}

.categoryCardContent{
    display: flex;
    align-items: center;
}

.categoryCardImage {
    width: 60px;
    height: 60px;
}

.categoryCardQuote{
    font-size: 0.9em;
    text-align: left;
}